<div class="flex flex-col space-y-2">
  <div class="flex justify-center flex-col">
    <div class="flex">
      <div class="flex flex-wrap border-sky-500 border-b text-2xl">
        bob
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="flex mb-2 space-x-1">
      <div (click)="computeAnswer()"
        class="flex basis-1/3 hover:bg-sky-700 flex items-center justify-center cursor-pointer rounded outline-sky-500 outline-1 outline py-2">
        Submit
      </div>
      <div
        class="flex basis-1/3 hover:bg-sky-700 flex items-center justify-center cursor-pointer rounded outline-sky-500 outline-1 outline py-2"
        (click)="clearOperations()">
        <ion-icon size="large" name="trash-outline"></ion-icon>
      </div>
      <div
        class="flex basis-1/3  hover:bg-sky-700 flex items-center justify-center cursor-pointer rounded outline-sky-500 outline-1 outline py-2"
        (click)="eraseLastOperation()">
        <ion-icon size="large" name="backspace-outline"></ion-icon>
      </div>
    </div>
    <div class="flex flex-wrap">
      <app-circle-button appOperator [info]="nb" (toInfo)="addOperation($event)" [text]="nb.value"
        [disabled]="nb.disabled" *ngFor="let nb of numbers">
      </app-circle-button>
    </div>
    <div class="flex flex-wrap">
      <app-circle-button appOperator [info]="operator" (toInfo)="addOperation($event)" [text]="operator.value"
        [disabled]="operator.disabled" *ngFor="let operator of operators"></app-circle-button>
    </div>
  </div>
</div>