<div class="middle">
  <ion-card>
    <div class="container">
      <ion-chip [outline]="true">{{chipText}}</ion-chip>
    </div>
    <ion-card-content>
      <div class="container" *ngIf="generatedNbs.length === 5">
        <ion-progress-bar [value]="timer"></ion-progress-bar>
      </div>
      <div class="container" *ngIf="generatedNbs.length !== 5">
        <div>
          <app-button baseEmit [info]="'SM'" text="SM" (toInfo)="generateSmallNb()"
            [disabled]="generatedNbs.length === 5"></app-button>
        </div>
        <div>
          <app-button baseEmit [info]="'L'" text="L" (toInfo)="generateLargeNb()"></app-button>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let number of generatedNbs">
          <ion-chip [outline]="true">{{number}}</ion-chip>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>