<div class="flex justify-center items-center flex-col space-y-6 mt-5">
    <div class="flex items-center justify-center text-4xl">
        <span>20</span>
        <span class="mx-0.5">:</span>
        <span>00</span>
    </div>
    <div
        class="rounded outline-double outline-4 outline-sky-500 outline-offset-2 p-2 flex justify-center items-center space-x-2">
        <div>Target is</div>
        <div class="text-4xl flex items-center justify-center">{{targetNb}}</div>
    </div>
    <div *ngIf="answer"
        class="flex items-center justify-center space-x-2 rounded outline-double outline-4 outline-sky-500 outline-offset-2 p-2">
        <div>
            Your answer
        </div>
        <div class="text-4xl">
            {{answer}}
        </div>
    </div>
</div>
<div class="flex items-center justify-center ">
    Play again
</div>
<div class="flex justify-center items-end mb-10">
    <div>
        <app-calculator (answerEvent)="displayAnswer($event)"></app-calculator>
    </div>
</div>