<div class="flex justify-center items-center flex-col space-y-3 mt-5">
    <div class="row">
        <span class="timer">
            <ion-text color="primary">
                <h1>30</h1>
            </ion-text>
        </span>
    </div>
    <div class="row">
        <div class="shadow-lg rounded border-double border-2 p-2 flex items-center space-x-2">
            <div>Target is</div>
            <div class="text-4xl">{{targetNb}}</div>
        </div>
    </div>
</div>
<div class="flex justify-center items-end mb-10">
    <div>
        <app-calculator></app-calculator>
    </div>
</div>